.career-form{
position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: #8bb
}
.header{
	
	
}

input[type="text"],
input[type="url"]
 {
  width: 100%;
  position: relative;
  display: inline-block;
  font-size: 1.25em;
  padding: 0 0 5px 0;
  color: #226D62;
  background-color: transparent;
  border: none;
  border-bottom: solid 2px #4DB6AC;
  outline: none;
  z-index: 20;
	text-align: center;
}


input[type="text"]:focus ~ label, input[type="text"]:valid ~ label {
  top: -60px;
}
