*{
    color: #aaf;
}
.button-row button{
    width: 10%;
    background: #111;
    color: #aaf;
}
.button-row button:hover{
    background: #222;
}
.career{
    font-size: 1.10rem;
    border-color: #fff;
    margin: 10px;
    color: #aaf;
    justify-content: center;
    
}
.row{
    justify-content: center;
}