/*
Colors
light green: #7ed56f
med green: #55c57a
dark green: #28b485
*/


*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
html {
	font-size: 100%;
}
body {
	background-color: #000;
	font-family: "Lato", san-serif;
	font-weight: 400;
	box-sizing: border-box;
	line-height: 1.7;
	
    padding: 2rem;
        
}

.header {
	height: 30vh;
background-image: linear-gradient(to right bottom, rgba(144, 144, 144, 0.4), rgba(245, 245, 245, 0.4)), url(https://media.istockphoto.com/photos/metal-wheel-concept-picture-id870006458);
	background-size: contain;
	
	background-position: top;
	clip-path: ellipse(30% 50% at 50% 50%);
}
img{	
	display: inline;
	clip-path: ellipse(40% 25% at 50% 50%); 
}
.header__text-box{
	margin-top: 2rem;
	margin-bottom: 1.5rem;
	height: 30vh;
	position: absolute;
	top: 15%;
	left: 50%;
	transform: translate(-50%, -50%);
	align-content: center;
}

.heading-primary{
	display: inline-block;
	font-weight: 600;
	text-transform: uppercase;
	
	position: relative;
	
 
}
.heading-primary--top{
	display: inline-block;
	font-size: 1.5rem;
	font-weight: 900;
	letter-spacing: .25rem;
	
	position: absolute;
	top: -2rem;
}
.heading-primary--bot{
	display: inline-block;
	font-size: 1.5rem;
	font-weight: 900;
	letter-spacing: .25rem;
	
	position: relative;
	top: 2rem;
	
}

.heading-primary--left{
	position: absolute;
	animation: moveInLeft 3s;
	float: left;
	transform: translate(-26rem,5rem);
}
.heading-primary--right{
	position: absolute;
	float:right;
	animation: moveInRight 3s;
	transform: translate(4rem,5rem);
	
} 
.header__logo-box{
	position: absolute;
	top: 4rem;
	left:  4rem;
}
.header__logo {
	height: 3.5rem;
} 

@keyframes moveInLeft {
	0% {
		opacity: 0;
		transform: translate(-36rem,0);
	}
	100% {
		opacity: 1;
		transform: translate(-26rem,5rem);
	}
}
@keyframes moveInRight {
	0% {
		opacity: 0;
		transform: translate(10rem,0);
	}
	100% {
		opacity: 1;
		transform: translate(4rem,5rem);
	}
}
.nav-link{
	text-decoration: none;
	display: inline;
	color: lightblue;
	padding: 1rem;
	border-radius: 50%;
	font-size: 1.2rem;
	font-weight: 400;
	background-color: black;
}
.btn:link,
.btn:visited {
	text-transform: uppercase;
	text-decoration: none;
	padding: 0.8rem 2rem;
	display: inline-block;
	border-radius: 10rem;
	transition: all 0.2s;
	position: relative;
}
.btn--white{
	background-color: #FFF;
	color: #777;
}
.btn:hover{
	transform: translateY(-.5rem);
	box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
}
.btn:active{
	transform: tranlateY(-.1rem);
}
.btn::after {
	content: "";
	display: inline-block;
	height: 100%;
	width: 100%;
	border-radius: 10rem;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	transition: all 0.4s;


}
.btn--white::after {
	background-color: #fff;
}
.btn:hover::after {
	transform: scaleX(1.4) scaleX(1.6);
	opacity: 0;
}