
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
html {
	font-size: 100%;
}
body {
	background-color: #000;
	font-family: "Lato", san-serif;
	font-weight: 400;
	box-sizing: border-box;
	line-height: 1.7;
	
    padding: 2rem;
        
}
.about-page{
    width: 500px;
    margin-left: 100px;
    color: #aaf;
}

.homepage {
    width: 500px;
    margin-left: 100px;
    color: #aaf;
}
.main{
    background: #000;
    width: 100%;
    height: 70vh;
    margin-left: 0;
    margin-right: 0;
}
